/**
 * 处理一些样式的前缀
 * see Bootstrap  'less/mixins/vendor-prefixes.less'
**/
html,
body {
  height: auto;
  min-height: 100%;
}
html {
  position: relative;
}
body {
  background-color: #f1f1f1;
}
.position-rel {
  position: relative;
}
.margin-tb-lg {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-left-sm {
  margin-left: 5px;
}
.padding0 {
  padding: 0;
}
/*
* 页面顶部
*/
.header {
  text-align: center;
  margin: 30px 0;
}
/*
* 页面底部样式
*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.footer-assist {
  padding-top: 50px;
}
.form-list {
  background-color: #fff;
  padding-left: 0;
}
.form-list > li {
  border-top: 1px solid #ddd;
  display: block;
  padding: 10px 20px;
}
.form-list > li:last-child {
  border-bottom: 1px solid #ddd;
}
.form-list .form-control {
  border: 0 none;
  box-shadow: none;
}
.input-mobile,
.input-password,
.input-security {
  background: no-repeat 0 50% #ffffff;
  padding-left: 40px;
}
.input-mobile {
  background-image: url("../images/icon_mobile.png");
}
.input-password {
  background-image: url("../images/icon_password.png");
}
.input-security {
  background-image: url("../images/icon_security.png");
}
.agreement {
  text-align: center;
  color: #999;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.password-eye {
  position: absolute;
  right: 20px;
  top: 16px;
  height: 20px;
  width: 38px;
  background: url("../images/icon_eye.png") no-repeat 0 50%;
}
.password-eye.gray {
  background: url("../images/icon_eye_gray.png");
}
.form-panel {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}
.form-panel .checkbox {
  margin: 20px 0;
}
.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  padding: 3px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-button {
  margin: 20px;
}
/*校验样式*/
input.text-danger,
textarea.text-danger,
select.text-danger {
  color: #ff441f;
}
.text-container {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: none;
  padding: 0;
}
.text-container li {
  list-style: none;
  margin: 10px 20px;
}
.text-container li:last-child {
  margin-bottom: -10px;
}
.text-container li.danger {
  color: #ff441f;
}
.text-container li.success {
  color: #54b822;
}
.icon_danger,
.icon_success {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: text-top;
}
.icon_danger {
  background: url("../images/icon_danger.png") no-repeat 0 50%;
}
.icon_success {
  background: url("../images/icon_success.png") no-repeat 0 50%;
}
.success-info {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.success-info h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
