body {
  background-color: #f1f1f1;
}

.form-list {
  background-color: #fff;
  padding-left: 0;
  > li {
    border-top: 1px solid #ddd;
    display: block;
    padding: 10px 20px;
    &:last-child{
      border-bottom: 1px solid #ddd;
    }
  }
  .form-control{
    border: 0 none;
    box-shadow: none;
    display: inline-block;
  }
}
