
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="margin-tb-lg">
          <i class="icon_success"></i>
          天天解惑网注册成功！
        </p>

        <form name="surveyForm" id="surveyForm" class="form-panel" method="post">

          <p>在以下哪几个方面需要指导，请选择：</p>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="surveyOption" value="1"> 简历制作
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="surveyOption" value="2"> 面试辅导
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="surveyOption" value="3"> offer 比较
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="surveyOption" value="4"> 酬薪谈判
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="surveyOption" value="5"> 职业生涯规划
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="surveyOption" value="6"> 其他
            </label>
            <input type="text" name="other" class="form-input margin-left-sm">
          </div>
        </form>

        <ul id="dangerInfo" class="text-container">
          <li class="danger"><i class="icon_danger"></i> <span>请至少选择一项</span></li>
        </ul>

        <div class="form-button">
          <button type="submit" id="btn" class="btn btn-primary btn-lg btn-block">提交</button>
        </div>
      </div>
    </div>
  </div>



